@font-face {
   font-family: 'ASPHALTICGRAINCONDENSEDPERSONALUSE';
   font-display: swap;
   src: url('file:///C:/Users/punki/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-02-28_102611/fonts/ASPHALTICGRAINCONDENSEDPERSONALUSE/font.ttf');
}
